/*table-special{
    background-color: #aaaaaa;
}*/

.bg-gradation{
    /*background-image: linear-gradient(to bottom right, #c0db5a ,#a3bf3b);*/
    padding-top: 5%;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    border-radius: 20px;
}

.input-cell{
    background-color: rgba(0,0,0,0.1);
    width: 100%
}
.table-secondary{
    font-size: 0.9em
}